body {
    background-image: linear-gradient(#ff7f00, #ffba00);
    height: 100vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;
}

hr {
    color: white;
    width: 40%;
    margin-top: 13vh;
}

@media screen and (max-width: 600px) {
    hr {
        color: white;
        width: 100%;
        margin-top: 13vh;
    }
}